name: Build and push docker image and python package

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      version:
        required: false
        type: string
      pypi_url:
        required: true
        type: string
      package_directories:
        default: "."
        type: string

jobs:
  pypi-docker:
    runs-on: self-hosted
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Build and push to registry
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ inputs.image_name }}:${{ inputs.version }}
          build-args: RELEASED_VERSION=${{ inputs.version }}

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup poetry
        uses: Gr1N/setup-poetry@v8

      - name: Publish package
        shell: bash
        env:
          PYPI_URL: ${{ inputs.pypi_url }}
          DIRECTORY: ${{ inputs.package_directories }}
          RELEASED_VERSION: ${{ inputs.version }}
        run: |
          for DIRECTORY in ${DIRECTORIES}; do
            pushd ${DIRECTORY}
            sed -i "s/<VERSION>/${RELEASED_VERSION}/" pyproject.toml
            poetry config repositories.private_pypi ${PYPI_URL}
            poetry publish --build --repository private_pypi
            rm -r dist
            popd
          done