name: Build and push docker image

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      version:
        required: false
        type: string

jobs:
  docker:
    runs-on: self-hosted
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Build and push to registry
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ inputs.image_name }}:${{ inputs.version }}
          build-args: RELEASED_VERSION=${{ inputs.version }}
