name: Build and push python package

on:
  workflow_call:
    inputs:
      pypi_url:
        required: true
        type: string
      package_directories:
        default: "."
        type: string

jobs:
  pypi:
    runs-on: self-hosted
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Release
        uses: krzwro/automated-release-action@v1.0.0
        id: release
        with:
          add_tags: false

      - name: Setup python
        uses: actions/setup-python@v4
        if: ${{ steps.release.outputs.version }}
        with:
          python-version: "3.11"

      - name: Setup poetry
        uses: Gr1N/setup-poetry@v8
        if: ${{ steps.release.outputs.version }}

      - name: Publish package
        if: ${{ steps.release.outputs.version }}
        shell: bash
        env:
          PYPI_URL: ${{ inputs.pypi_url }}
          DIRECTORIES: ${{ inputs.package_directories }}
          RELEASED_VERSION: ${{ steps.release.outputs.version }}
        run: |
          for DIRECTORY in ${DIRECTORIES}; do
            pushd ${DIRECTORY}
            sed -i "s/<VERSION>/${RELEASED_VERSION}/" pyproject.toml
            poetry config repositories.private_pypi ${PYPI_URL}
            poetry publish --build --repository private_pypi
            rm -r dist
            popd
          done